/*===============bg-color=============*/


/**Pomegranate*/
.bg-pome-100
{
    background-color: #f9ebea;
}
.bg-pome-200
{
    background-color: #f2d7d5;
}
.bg-pome-300
{
    background-color: #e6b0aa;
}   
.bg-pome-400
{
    background-color: #d98880;
}   
.bg-pome-500
{
    background-color: #cd6155;
}   
.bg-pome-600
{
    background-color: #c0392b;
}   
.bg-pome-700
{
    background-color: #a93226;
}   
.bg-pome-800
{
    background-color: #922b21;
}  
.bg-pome-900
{
    background-color: #7b241c;
}  
.bg-pome-1000
{
    background-color: #641e16;
}  
/**********Alizarin-Color*************************/
.bg-aliza-100
{
    background-color: #fdedec;
}
.bg-aliza-200
{
    background-color: #fadbd8;
}
.bg-aliza-300
{
    background-color: #f5b7b1;
}
.bg-aliza-400
{
    background-color: #f1948a;
}
.bg-aliza-500
{
    background-color: #ec7063;
}
.bg-aliza-600
{
    background-color: #e74c3c;
}
.bg-aliza-700
{
    background-color: #cb4335;
}
.bg-aliza-800
{
    background-color: #b03a2e;
}
.bg-aliza-900
{
    background-color: #943126;
}
.bg-aliza-1000
{
    background-color: #78281f;
}
/*==============Amethyst================*/
.bg-ameth-100
{
    background-color: #f5eef8;
}
.bg-ameth-200
{
    background-color: #ebdef0;
}
.bg-ameth-300
{
    background-color: #d7bde2;
}
.bg-ameth-400
{
    background-color: #c39bd3;
}
.bg-ameth-500
{
    background-color: #af7ac5;
}
.bg-ameth-600
{
    background-color: #9b59b6;
}
.bg-ameth-700
{
    background-color: #884ea0;
}
.bg-ameth-800
{
    background-color: #76448a;
}
.bg-ameth-900
{
    background-color: #633974;
}
.bg-ameth-1000
{
    background-color: #512e5f;
}
/**=============== Wisteria =============**/
.bg-wist-100
{
    background-color: #f4ecf7;
}
.bg-wist-200
{
    background-color: #e8daef;
}
.bg-wist-300
{
    background-color: #d2b4de;
}
.bg-wist-400
{
    background-color: #bb8fce;
}
.bg-wist-500
{
    background-color: #a569bd;
}
.bg-wist-600
{
    background-color: #8e44ad;
}
.bg-wist-700
{
    background-color: #7d3c98;
}
.bg-wist-800
{
    background-color: #6c3483;
}
.bg-wist-900
{
    background-color: #5b2c6f;
}
.bg-wist-1000
{
    background-color: #4a235a;
}





















