.m-2
{
    margin: 2px;
}
.m-4
{
    margin: 4px;
}
.m-6
{
    margin: 6px;
}
.m-8
{
    margin: 8px;
}
.m-10
{
    margin: 10px;
}
.m-12
{
    margin: 12px;
}
.m-14
{
    margin: 14px;
}
.m-16
{
    margin: 16px;
}
.m-18
{
    margin: 18px;
}
.m-20
{
    margin: 20px;
}
.m-22
{
    margin: 22px;
}
.m-24
{
    margin: 24px;
}
.m-26
{
    margin: 26px;
}
.m-28
{
    margin: 28px;
}
.m-30
{
    margin: 30px;
}
.m-32
{
    margin: 32px;
}
.m-34
{
    margin: 34px;
}
.m-36
{
    margin: 36px;
}
.m-38
{
    margin: 38px;
}
.m-40
{
    margin: 40px;
}
.m-42
{
    margin: 42px;
}
.m-44
{
    margin: 44px;
}
.m-46
{
    margin: 46px;
}
.m-48
{
    margin: 48px;
}
.m-50
{
    margin: 50px;
}
.m-60
{
    margin: 60px;
}
.m-70
{
    margin: 70px;
}
.m-80
{
    margin: 80px;
}
.m-100
{
    margin: 100px;
}
.m-110
{
    margin: 110px;
}
.m-200
{
    margin: 200px;
}
