.m-2
{
    margin: 2px;
}
.m-4
{
    margin: 4px;
}
.m-6
{
    margin: 6px;
}
.m-8
{
    margin: 8px;
}
.m-10
{
    margin: 10px;
}
.m-12
{
    margin: 12px;
}
.m-14
{
    margin: 14px;
}
.m-16
{
    margin: 16px;
}
.m-18
{
    margin: 18px;
}
.m-20
{
    margin: 20px;
}
.m-22
{
    margin: 22px;
}
.m-24
{
    margin: 24px;
}
.m-26
{
    margin: 26px;
}
.m-28
{
    margin: 28px;
}
.m-30
{
    margin: 30px;
}
.m-32
{
    margin: 32px;
}
.m-34
{
    margin: 34px;
}
.m-36
{
    margin: 36px;
}
.m-38
{
    margin: 38px;
}
.m-40
{
    margin: 40px;
}
.m-42
{
    margin: 42px;
}
.m-44
{
    margin: 44px;
}
.m-46
{
    margin: 46px;
}
.m-48
{
    margin: 48px;
}
.m-50
{
    margin: 50px;
}
.m-60
{
    margin: 60px;
}
.m-70
{
    margin: 70px;
}
.m-80
{
    margin: 80px;
}
.m-100
{
    margin: 100px;
}
.m-200
{
    margin: 200px;
}
/**================= Padding ===================**/
.p-2
{
    padding: 2px;
}
.p-4
{
    padding: 4px;
}
.p-6
{
    padding: 6px;
}
.p-8
{
    padding: 8px;
}
.p-10
{
    padding: 10px;
}
.p-12
{
    padding: 12px;
}
.p-14
{
    padding: 14px;
}
.p-16
{
    padding: 16px;
}
.p-18
{
    padding: 18px;
}
.p-20
{
    padding: 20px;
}
.p-22
{
    padding: 22px;
}
.p-24
{
    padding: 24px;
}
.p-26
{
    padding: 26px;
}
.p-28
{
    padding: 28px;
}
.p-30
{
    padding: 30px;
}
.p-32
{
    padding: 32px;
}
.p-34
{
    padding: 34px;
}
.p-36
{
    padding: 36px;
}
.p-38
{
    padding: 38px;
}
.p-40
{
    padding: 40px;
}
.p-42
{
    padding: 42px;
}
.p-44
{
    padding: 44px;
}
.p-46
{
    padding: 46px;
}
.p-48
{
    padding: 48px;
}
.p-50
{
    padding: 50px;
}
.p-60
{
    padding: 60px;
}
.p-70
{
    padding: 70px;
}
.p-80
{
    padding: 80px;
}
.p-90
{
    padding: 90px;
}
.p-100
{
    padding: 100px;
}
.p-150
{
    padding: 150px;
}
.p-200
{
    padding: 200px;
}